[submodule "external/xrootd"]
	path = external/xrootd
	url = https://github.com/xrootd/xrootd.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
